<template lang="pug">
<!-- sidenav -->
div.grid-citynav(:style="$store.state.grid.city.style")
  a(
    v-for="txt, cnt in $store.state.grid.city.content"
    :style="$store.state.grid.city.content_style"
    :id="`grid-sidenav-`+cnt"
    @mouseover="$store.commit('over', $event)"
    @mouseleave="$store.commit('leave', $event)"
    @click="$store.commit('clicked', $event)"
  ) {{txt}}
</template>

<script>
export default {
  name: 'CityNav',
  components: {},
  methods: {},
}
</script>

<style scoped lang="stylus">
</style>