<template lang="pug">
<!-- grid -->
div.grids-beo(:style="$store.state.grid.style")
</template>

<script>
export default {
  name: 'Grid',
  components: {},
  methods: {},
}
</script>

<style scoped lang="stylus">
</style>