<template lang="pug">
<!-- footerplayer -->
div.grid-footerplayer(:style="$store.state.grid.footerplayer.style")
  a(
    v-for="txt, cnt in $store.state.grid.footerplayer.content"
    :style="$store.state.grid.footerplayer.content_style"
    :id="`grid-footerplayer-`+cnt"
    @mouseover="$store.commit('over', $event)"
    @mouseleave="$store.commit('leave', $event)"
    @click="$store.commit('clicked', $event)"
  ) {{txt}}
</template>

<script>
export default {
  name: 'FooterPlayer',
  components: {},
  methods: {},
}
</script>

<style scoped lang="stylus">
a#grid-footerplayer-0
  background-color: #A3D9D3
a#grid-footerplayer-1
  background-color: #05F2DB
a#grid-footerplayer-2
  background-color: #148C80
</style>