<template lang="pug">
div.grids(:style="$store.state.grid.style")
  TopBar
  TopNav
  CityNav
  TimeTableHours
  TimeTableArtists
  MyGuest
  PersonSearcher
  Persons
  FooterPlayer
</template>

<script>

import TopBar from './topbar.vue'
import TopNav from './topnav.vue'
import CityNav from './citynav.vue'
import TimeTableArtists from './timetable_artists.vue'
import TimeTableHours from './timetable_hours.vue'
import MyGuest from './myguest.vue'
import FooterPlayer from './footerplayer.vue'
import PersonSearcher from './personsearcher.vue'
import Persons from './persons.vue'

export default {
  name: 'Grid',
  components: {
    TopBar,
    TopNav,
    CityNav,
    TimeTableHours,
    TimeTableArtists,
    MyGuest,
    FooterPlayer,
    PersonSearcher,
    Persons
  },
  methods: {
  },
}
</script>

<style scoped lang="stylus">
a
  grid-row 20
  grid-column 1 / span 20
  text-align center
  font-size 300%
</style>