<template lang="pug">
<!-- myguest -->
div.grid-myguest(:style="$store.state.grid.myguest.style")
  a(
    v-for="txt, cnt in $store.state.grid.myguest.content"
    :style="$store.state.grid.myguest.content_style"
    :id="`grid-myguest-`+cnt"
    @mouseover="$store.commit('over', $event)"
    @mouseleave="$store.commit('leave', $event)"
    @click="$store.commit('clicked', $event)"
  ) {{txt}}
</template>

<script>
export default {
  name: 'MyGuest',
  components: {},
  methods: {},
}
</script>

<style scoped lang="stylus">
a#grid-myguest-0
  background-color: #F87635
a#grid-myguest-1
  background-color: #2B4240
a#grid-myguest-2
  background-color: #261E1A
</style>