<template lang="pug">
<!-- personsearcher -->
div.grid-personsearcher(:style="$store.state.grid.personsearcher.style")
  a(
    v-for="txt, cnt in $store.state.grid.personsearcher.content"
    :style="$store.state.grid.personsearcher.content_style"
    :id="`grid-personsearcher-`+cnt"
    @mouseover="$store.commit('over', $event)"
    @mouseleave="$store.commit('leave', $event)"
    @click="$store.commit('clicked', $event)"
  ) {{txt}}
</template>

<script>
export default {
  name: 'PersonSearcher',
  components: {},
  methods: {},
}
</script>

<style scoped lang="stylus">
a#grid-personsearcher-0
  background-color: #0D1273
  grid-column: 1 / span 2
a#grid-personsearcher-1
  background-color: #1C23A6
  grid-column: 3 / span 8

</style>