<template lang="pug">
<!-- persons -->
div.grid-persons(:style="$store.state.grid.persons.style")
  a(
    v-for="txt, cnt in $store.state.grid.persons.content"
    :style="$store.state.grid.persons.content_style"
    :id="`grid-persons-`+cnt"
    @mouseover="$store.commit('over', $event)"
    @mouseleave="$store.commit('leave', $event)"
    @click="$store.commit('clicked', $event)"
  ) {{txt}}
</template>

<script>
export default {
  name: 'Persons',
  components: {},
  methods: {},
}
</script>

<style scoped lang="stylus">
a#grid-persons-0
  background-color: #151326
  grid-column: 1 / span 2
a#grid-persons-1
  background-color: #F2CD5C
  grid-column: 3 / span 8
</style>