<template lang="pug">
div.WorkFlow
  ul
    li References rooms in your city and make them the most active as possible by offering to new artists a spot where they can practice as a 1st example.
</template>

<script>
export default {
  name: 'WorkFlow',
  components: {},
  mounted(){
    console.log(this.$store.state)
  },
  methods: {
    over(event){
      let domitem = document.getElementById(event.target.id)
      console.log(domitem)
      domitem.style.backgroundColor = 'black'
      domitem.style.color = 'white'
    },
    leave(event){
      let domitem = document.getElementById(event.target.id)
      console.log(domitem)
      domitem.style.backgroundColor = 'white'
      domitem.style.color = 'black'
    },
  }
}
</script>

<style scoped lang="stylus">

</style>