<template lang="pug">
<!-- timetablehours -->
div.grid-timetable-hours(:style="$store.state.grid.timetablehours.style")
  a(
    v-for="txt, cnt in $store.state.grid.timetablehours.content"
    :style="$store.state.grid.timetablehours.content_style"
    :id="`grid-timetable-hours`+cnt"
    @mouseover="$store.commit('over', $event)"
    @mouseleave="$store.commit('leave', $event)"
    @click="$store.commit('clicked', $event)"
  ) {{txt}}
</template>

<script>
export default {
  name: 'TimeTableHours',
  components: {},
  methods: {},
}
</script>

<style scoped lang="stylus">
</style>