<template lang="pug">
<!-- timetable -->
div.grid-timetable-artists(:style="$store.state.grid.timetableartists.style")
  a(
    v-for="txt, cnt in $store.state.grid.timetableartists.content"
    :style="$store.state.grid.timetableartists.content_style"
    :id="`grid-timetable-artists-`+cnt"
    @mouseover="$store.commit('over', $event)"
    @mouseleave="$store.commit('leave', $event)"
    @click="$store.commit('clicked', $event)"
  ) {{txt}}
</template>

<script>
export default {
  name: 'TimeTableArtists',
  components: {},
  methods: {},
}
</script>

<style scoped lang="stylus">
</style>