<template lang="pug">
<!-- root -->
div.aendlyx-tech-productions
    router-view
</template>

  // <!-- anim-fullscreen -->
  //   div#overlay
  //     span#overlay
  //       | BEOWULF ASIA
  //   transition(name="fade")

  //   <!-- pages -->

<script>
export default {
  name: "App",
  watch:{
    $route (to, from){
      var overlay = document.getElementById('overlay');
      overlay.classList.remove('animate');
      window.setTimeout(function() {
        overlay.classList.add('animate');
      }, 1000)
    }
  },
  mounted() {
    document.title="q4Zar | Grids"
    var overlay = document.getElementById('overlay')
    window.setTimeout(function() {
      overlay.classList.add('animate')
    }, 1000)
  }
}

</script>

<style lang="stylus">

$gradient_bg=radial-gradient(circle, #ede8e7, #f1eae8, #f4ece8, #f7eee8, #f9f0e8);

@import url('https://fonts.googleapis.com/css?family=Cuprum&display=swap');

*
  user-select none

html, body {
  margin auto
  padding 0
  -webkit-font-smoothing: antialiased
  overflow-x hidden
  -webkit-tap-highlight-color: rgba(0,0,0,0.4);
  font-family 'Cuprum', sans-serif
  background #0D0D0D
  color #F2F2F2
}

#app {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0.4);
}

ul {
  padding 0
}

#overlay {
  display: block;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #FDFEFE;
  z-index: 9999;
  transition: all 0.3s ease;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

span#overlay {
  font-size: 30px;
  letter-spacing: 10px;
  transition: all 0.5s ease;
  background: #FDFEFE;
}

.animate {
  opacity: 0;
  span {
    letter-spacing: 20px;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

#beowulf_asia
  font-size 200%
#private_collection
  font-size 125%
  font-style italic
a.ico
  font-size 500%
a.txt
  font-size 150%

</style>
